<!--  menu -->

<div class="container">

<!--  <app-pokemons ></app-pokemons>-->

  <router-outlet></router-outlet>
</div>


<!--<router-outlet></router-outlet>-->
<!--// add app navigation-->
<!--<li>-->
<!--  <ul>-->
<!--    <a routerLink="/pokemons" routerLinkActive="active" class="btn btn-secondary">Pokemons</a>-->
<!--  </ul>-->
<!--  <ul>-->
<!--    <a routerLink="/login" routerLinkActive="active" class="btn btn-secondary">Login</a>-->
<!--    <a routerLink="/logout" routerLinkActive="active" class="btn btn-secondary">Logout</a>-->
<!--  </ul>-->
<!--</li>-->
